.budget-input{
    width: 96%;
}

.amount{
    font-weight: 20px;
    color: slateblue
}

.mainCard{
    margin-top: 10px;
}

.btn{
    margin: 2px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.selectBox{
    width: 96%;
    margin: 15px 0 15px 0;
    padding: 5px;
    border-radius: 2px;
    background: #FFF9C4;
}