<md-toolbar class="toolbar">
  <span>My Budget</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><button flex="auto" md-raised-button color="warn" (click)="logout()">Logout</button></span>
  
</md-toolbar>

<div layout="row" style="margin-top: 4vh;">
  <div layout="row">
    <button flex="auto" md-raised-button color="warn" class="btn" routerLink='/add-budget/edit'>Update Budget</button>
    <button flex="auto" md-raised-button color="warn" class="btn" routerLink='/budget-history'>Budget History</button>
  </div>
  
  <md-card layout="row" style="margin-top: 4vh; margin:4vh 10px 0 10px;" layout-align="center center">
    <div style="margin-left:40%" *ngIf="!dataRecieved"><md-spinner color="warn"></md-spinner></div>
    <md-card-content *ngIf="dataRecieved">
      <p align='right'>{{currentDate}} days left</p>
      <p></p>
      <p class="md-body-2">Total Budget: <span class="amount">{{budgetInfo.total}} Rs</span></p>
      <p class="md-body-2" *ngIf="budgetInfo.update != '' ">Total Budget Left: <span style="color:red">{{budgetInfo.update}} Rs</span></p>
      <h3 class="md-display-2">Amount you can spend in remaining days: <span style="color:green">{{budgetInfo.spend}} Rs</span></h3>
          <md-input class="budget-input" type="text" #item (keyup.enter)="totalSpended(item,money)" placeholder="Item Name">
          </md-input>
          <md-input class="budget-input" type="number" #money (keyup.enter)="totalSpended(item,money)" placeholder="Amount">
            <span md-suffix>&nbsp;Rs</span>
          </md-input>
          <button md-raised-button color="warn" (click)="totalSpended(item,money);">Submit</button>
          <p class="md-body-2">{{message}}</p>
    </md-card-content>
  </md-card>

</div>