<div class="main" layout="row">
  <div layout="row">
    <button flex="auto" md-raised-button color="primary" class="btn" routerLink='/add-budget/edit'>Update Budget</button>
    <button flex="auto" md-raised-button color="primary" class="btn" routerLink='/budget-history'>Budget History</button>
  </div>
  
  <md-card layout="row" layout-align="center center">
    <div style="margin-left:40%" *ngIf="!dataRecieved"><md-spinner></md-spinner></div>
    <md-card-content *ngIf="dataRecieved">
      <p align='right'>{{currentDate | date}}</p>
      <p></p>
      <p class="md-body-2">Total Budget: <span class="amount">{{budgetInfo.total}} Rs</span></p>
      <p class="md-body-2" *ngIf="budgetInfo.update != '' ">Total Budget Left: <span style="color:red">{{budgetInfo.update}} Rs</span></p>
      <h3 class="md-display-2">Amount you can spend in remaining days: <span style="color:green">{{budgetInfo.spend}} Rs</span></h3>
          <md-input class="budget-input" type="number" #money (keyup.enter)="totalSpended(money.value)" placeholder="Amount you spended till now">
            <span md-suffix>&nbsp;Rs</span>
          </md-input>
          <button md-raised-button color="primary" (click)="totalSpended(money);">Submit</button>
          <p class="md-body-2">{{message}}</p>
    </md-card-content>
  </md-card>

</div>