<div class="main">
  <button md-raised-button color="primary" routerLink='/add-budget/edit'>Edit Budget</button>
  <button md-raised-button color="primary" routerLink='/budget-history'>Budget History</button>
 
  <md-card>
    <div style="margin-left:46%" *ngIf="!dataRecieved"><md-spinner></md-spinner></div>
    <md-card-content *ngIf="dataRecieved">
      <p align='right'>{{currentDate.date | date}} {{currentDate.time | date:"HH:mm"}}</p>
      <p></p>
      <p class="md-body-2">Total Budget for this month is <span class="amount">{{budgetInfo.total}}</span></p>
      <p class="md-body-2" *ngIf="budgetInfo.update != '' ">Total budget left for this month is <span style="color:red">{{budgetInfo.update}}</span></p>
      <h3 class="md-display-2">Money you can spend everyday of this month is <span style="color:green">{{budgetInfo.spend}}</span></h3>
          <md-input class="budget-input" type="number" #money (keyup.enter)="totalSpended(money.value)" placeholder="Please enter money you spended till now.">
            <span md-prefix>Rs&nbsp;</span>
            <span md-suffix>.00</span>
          </md-input>
          <button md-raised-button color="primary" (click)="totalSpended(money);">Submit</button>
          <p class="md-body-2">{{message}}</p>
    </md-card-content>
  </md-card>

</div>