<div class="main">
    <button md-raised-button color="primary" routerLink='/today-budget/back'>Back</button>

  <md-card>
    <div style="margin-left:46%" *ngIf="!dataRecieved"><md-spinner></md-spinner></div>
    <md-card-content *ngIf="dataRecieved">
        <p class="display-2" *ngIf="message">{{message}}</p>
        <table class="historyTable">
          <tr>
            <th class="tRow">Day</th>
            <th class="tRow">Money</th>
          </tr>
          <tr class="tRow" *ngFor="let item of historyKeys">
            <td class="tRow">{{item | date}} {{item | date:"HH:mm"}}</td>
            <td class="tRow">{{history[item].money}}</td>
          </tr>
        </table>
    </md-card-content>
  </md-card>
  
  
</div>

