<div class="main">
  
  <md-card>
    <md-card-header>
        <md-card-title>BUDGET YOURSELF</md-card-title>
        <md-card-subtitle>Get daily notification about money you can spent according to your budget</md-card-subtitle>
    </md-card-header>
    <md-card-content>
          <md-input class="username-input" type="text" name="username"  #username (keyup.enter)="getStarted(username.value)" placeholder="enter your username">
          </md-input>
          <button md-raised-button color="primary" (click)="getStarted(username.value)">Get Started</button>
    </md-card-content>
  </md-card>
  
</div>

