<div class="main">

  <md-card>
    <md-card-content>
          <!--<md-input class="budget-input" type="number" name="budget" #budget [placeholder]="placeholderText">
          </md-input>-->
          <md-input [value]="oldBudget" class="budget-input" placeholder="amount" align="end" #budget (keyup.enter)="totalBudget(budget.value)" [placeholder]="placeholderText">
            <span md-prefix>Rs&nbsp;</span>
            <span md-suffix>.00</span>
          </md-input>
          <button md-raised-button color="primary" (click)="totalBudget(budget.value);">Add</button>
    </md-card-content>
  </md-card>

</div>


