/* You can add global styles to this file, and also import other style files */

body{
    background-color: #FFF9C4;
    margin: 0 auto;
    text-align: center;
    height:auto
}

.main{
    padding: 10px;
}

.toolbar{
    background-color:#FFCB2E;
    color:white;
}

.btns{
    background: #FFFF00;
}
